@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropToken {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropTokenInverted {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

.token-drop {
  animation: dropToken 0.5s ease-in-out;
}

.token-drop-inverted {
  animation: dropTokenInverted 0.5s ease-in-out;
}

@keyframes winner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.winner-animation {
  animation: winner 1s ease-in-out infinite;
}